# Скопируй в .env и заполни своими значениями
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_strong_password_here
POSTGRES_DB=crm_db

POSTGRES_PORT=5432
BACKEND_PORT=3001
FRONTEND_PORT=8080

NODE_ENV=production
